/* Algemeen voor de root van de Scene */

.root {
    -fx-primary: #1e6ac4;
    -fx-hover: #528ad9;
    -fx-pressed: #135abe;
    -fx-padding: 20px;
    -fx-font-family: "Roboto Light";
}

.button {
    fx-margin:0px;

}

.h1 {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}


.container {

    -fx-background-color: #fefefe;
    -fx-padding: 25px;
}

Button {

    -fx-effect: none;
    -fx-background-color: -fx-primary;
    -fx-text-fill: white;
}

Button:hover {
    -fx-background-color: -fx-hover;
}

Button:pressed {
    -fx-background-color: -fx-pressed;
}

.menu {
    -fx-padding: 0px;
    -fx-background-color: #252525;
    -fx-padding: 10px;
    -fx-background-radius: 10px;
}
.menu Button {
    -fx-pref-width: 120px;
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 10px 20px;
    -fx-background-insets: 4px 0px;
    -fx-background-radius: 15px;

}
.brand {
    -fx-alignment: center;
    -fx-padding: 10px;
}
.tagline {
    -fx-text-fill: white;
}
.logo{
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -text: 10px;
    -fx-font-weight: bolder;
    -fx-padding: 0px 0px -10px 0px;
}

.table-heading{
    -fx-font-weight: bolder;
}
.table-id {
    -fx-font-weight: bolder;
}

.lane-detail-table{
    -fx-padding: 10px 0px 20px 0px;
}

.history-table{

}

.update-green {
    -fx-background-color:green;
}

.update-red {
    -fx-background-color:red;
}

.icon {
    -fx-text-fill: white;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-background-color: none;
    -fx-text-fill: black;

}

.top-stack{
    -fx-background-color: white;
}